<!--The content below is only a placeholder and can be replaced.-->
  <mat-horizontal-stepper style="height: 90%;margin: 10%;"linear #stepper>
    <mat-step >
        <ng-template matStepLabel>Destination</ng-template>
        <mat-form-field appearance="outline">
          <mat-label>Lieu</mat-label>
          <input matInput [(ngModel)]="city">
        </mat-form-field>

        <div>
          <button mat-raised-button color="primary" (click)="onFilterSet()" matStepperNext>Départ</button>
        </div>
    </mat-step>
    <mat-step >
        <ng-template matStepLabel>List</ng-template>
        <mat-grid-list *ngIf="imageList != undefined" cols="2" rowHeight="2:1">
          <mat-grid-tile *ngFor="let photo of imageList" (click)="selectedPicture(photo)" [ngClass]="{'selected-image-view': selectedImage === photo}">
            <img style="height: 90%;" [src]="photo.src.original"/>
          </mat-grid-tile>
        </mat-grid-list>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Résultats</ng-template>
      <div>
        <div *ngIf="selectedImage != undefined" class="image-card">
          <img  style="width: 30%;" [src]="selectedImage.src.original"/>
          <img [ngStyle]="{'background-color': this.selectedImage.avg_color}" style="width: 30%;" src="assets/images/post-card-model.png"/>
        </div>



      </div>
      <div style="margin : 16px 0px 16px 0px">
        <button mat-button mat-raised-button (click)="downloadUrl(this.selectedImage.src.original,'my-postal-card-'+this.counter.toString()+'.png')">Télécharger</button>
        <button mat-button mat-raised-button [disabled]="true">Partagger</button>
        <button mat-button mat-raised-button (click)="stepper.reset()">Recommencer</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>




